<div
    class="bg-[url('/assets/images/hero_section_bg.png')] h-dvh bg-cover lg:bg-contain bg-no-repeat bg-left-top max-w-full">
    <!-- <img src="/assets/images/hero_section_bg.png" alt="Hero Background"> -->

    <div class="flex justify-center items-center flex-col h-full gap-10">
        <div class="flex justify-center items-center gap-4 pb-10 text-[#6D91EE]">
            <img src="/assets/svgs/round_rock_icon.svg" alt="round_rock_icon">
            <div class="font-semibold">
                <h1 class="text-4xl">Round Rock</h1>
                <span class="text-2xl tracking-widest">Trush Hauling</span>
            </div>
        </div>
        <button class="block bg-[#6D91EE] text-white text-2xl rounded-3xl py-2 px-8 cursor-pointer hover:bg-[#5180F6]">
            Experts
        </button>
        <div class="flex flex-col justify-center items-center text-[#4F4F4F] text-7xl">
            <span class="font-thin"> Lorem</span>
            <span class="font-bold">Lorem lorem</span>
            <p class="text-sm font-semibold max-w-2xl mt-5 text-center">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the
            </p>
        </div>
        <button class="block bg-[#5180F6] text-white text-4xl rounded-3xl py-2 px-8 cursor-pointer hover:bg-[#6D91EE]">
            Help Me
        </button>
    </div>

</div>