<div
    class="bg-[url('/assets/images/about_us_trush_bg_left.png')] h-dvh bg-cover lg:bg-cover bg-no-repeat bg-left max-w-full">
    <div
        class="bg-[url('/assets/images/about_us_trush_bg_right.png')] h-dvh bg-cover lg:bg-contain bg-no-repeat bg-right-bottom max-w-full">
        <div class="container mx-auto flex flex-col justify-center items-center gap-10">
            <div class="flex flex-col lg:flex-row text-white gap-20 pt-20">
                <div class="flex flex-col justify-between items-start">
                    <h2 class="text-5xl font-black mb-10">About Us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an </p>
                    <img src="/assets/images/about_us_trush_img.png" class="w-90" alt="about_us_trush_img">
                </div>
                <div class="flex flex-col justify-between items-end">
                    <h2 class="text-5xl font-black mb-10">Where</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an </p>
                </div>
            </div>
            <button
                class="block bg-[#EEC04B] text-white text-4xl rounded-3xl py-2 px-8 cursor-pointer hover:bg-[#c5a868]">
                Help Me
            </button>
        </div>
    </div>
</div>